<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  
  <h1>Students Visualizer</h1>
  <div id="ButtonContainer">
    <button id="myBtn" onclick="openAddStudent()"><h5>Add new student</h5></button>
    <button><h5>Edit/Delete student</h5></button>
  </div>

  <!-- TODO: Add info about each person via on hover -->
  <!-- Each student will have the same height but the widths will be depending on how fat they are -->
  <!-- TODO: If have time, add a toggle show all/hide all info -->
  <!-- TODO: Default next student id is increment of the largestID -->
  <!-- TODO: Gradient for knowing who is in what year -->
  <div id="VisualizerContainer">
    <div id="displayResults">
      <div class="student" style="height:80px; width: 50px;">
        <div class="head" style="background-color: red;"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
        <span class="tooltiptext">Sandy Wu<br/>id: 301316914<br/>GPA: 3.4</span>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head" style="background-color: black;"></div>
        <div class="body" style="width:40px; height:50px; background-color:red"></div>
        <span class="tooltiptext">Yan Lang<br/>GPA: 3.0<br/></span>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:red"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:red"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>
      <div class="student" style="height:80px; width: 50px;">
        <div class="head"></div>
        <div class="body" style="width:40px; height:50px; background-color:blue"></div>
      </div>

    </div>
  </div>

 
  <!-- The Modal -->
  <div id="AddStudentModal" class="modal">
    <!-- Modal content -->
    <div id="QueryContainer" class="modal-content">
      <span class="close" onclick="closeAddStudent()">&times;</span>
        <h2>Add new student</h2>
        <form action="/action_page.php" id="AddStudent" method="POST">
          <table>
            <tr>
              <td>Student ID:</td><td><input type="number" name="stid"></td>
            </tr>
            <tr>
              <td>First Name:</td><td><input type="text" placeholder="First Name" name="name"></td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td><input type="text" placeholder="Last Name" name="lName"></td>
            </tr>
            <tr>
              <td>Weight:</td><td><input type="number" name="weight"> lbs</td>
            </tr>
            <tr>
              <td>Height:</td><td><input type="number" name="height"> cm</td>
            </tr>
            <tr>
              <td>Hair Colour:</td><td><input type="color" name="hairColor"></td>
            </tr>
            <tr>
              <td>GPA:</td><td><input placeholder="ex. 3.40" type="number" name="gpa"> / 4.33</td>
            </tr>
            <tr>
              <!-- Male or Female -->
              <td>Gender:</td>
              <td>
                <input type="radio" name="gender" value="m" checked>Male </input>
                <input type="radio" name="gender" value="f">Female </input>
                <input type="radio" name="gender" value="o">Prefer not to say</input>
              </td>
            </tr>
          </table>
          <input type="submit" value="Submit">
        </form> 
    </div>

  </div>

  <div id="attribution">Sandy Wu &#9699; 2019.</div>
  <script>
    // Modal BEGIN: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal

    var addStudentModal = document.getElementById("AddStudentModal");
    var editStudentModal = document.getElementById("EditStudentModal");

    // When the user clicks the button, open the modal 
    openAddStudent = () => addStudentModal.style.display = "block";
    openEditStudent = () => editStudentModal.style.display = "block";

    // When the user clicks on <span> (x), close the modal
    closeAddStudent = () => addStudentModal.style.display = "none";
    closeEditStudent = () => editStudentModal.style.display = "none";

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == addStudentModal) closeAddStudent();
      if (event.target == addStudentModal) closeEditStudent();
    }

    // Modal END: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
  </script>

  <script type='text/javascript' src="./displayResults.js"></script>
</body>
</html>
